body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
    font-weight: 200;
}


h1 {
    font-size: 24px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
    background: black;
    color: red;
}

h2 {
    font-size: 22px;
    background-color: rgb(0, 242, 0)
}


 img {
    width: 500px;
    height: auto;
 }



 ol, 
 ul {
    font-size: 22px;
    font-weight: 700;
    background-color: yellow;
 }
